DB_PASSWORD=VobxJYMz7t2x94C1OXklqpqcCjvZPtuG
DB_URL=jdbc:postgresql://VobxJYMz7t2x94C1OXklqpqcCjvZPtuG@dpg-d7q6sdj7uimc738chtu0-a.singapore-postgres.render.com:5432/efms
DB_USERNAME=linhdv
JWT_EXPIRATION_MS=86400000
JWT_SECRET=dGhpcy1pcy1hLXN1cGVyLXNlY3JldC1rZXktdGhhdC1tdXN0LWJlLWF0LWxlYXN0LTI1Ni1iaXRzLWxvbmc=
SPRING_PROFILES_ACTIVE=prod
PRIVATE_IDENTITY_SERVICE_URL=