CAMUNDA_CLIENT_ID=
CAMUNDA_CLIENT_SECRET=
CAMUNDA_CLUSTER_ID=
CAMUNDA_REGION=
DB_PASSWORD=
DB_URL=
DB_USERNAME=
JWT_EXPIRATION_MS=86400000
JWT_SECRET=dGhpcy1pcy1hLXN1cGVyLXNlY3JldC1rZXktdGhhdC1tdXN0LWJlLWF0LWxlYXN0LTI1Ni1iaXRzLWxvbmc=
SPRING_PROFILES_ACTIVE=prod