# --- Camunda 8 SaaS Configuration ---
CAMUNDA_CLIENT_ID="ZAEXx7ZVi6ISJlotEXdii.bo~wWW8g17"
CAMUNDA_CLIENT_SECRET="P9~18o4XOjd3mav3.uFd88Ww7nodzoRVWv7PL7H9MfFxxqNmmDkdDnedKT9jT9IF"
CAMUNDA_CLUSTER_ID="f9136642-ec00-48a1-af9f-6eb84185a958"
CAMUNDA_REGION="sin-2"

# --- Database Configuration ---
DB_URL=
DB_USERNAME=
DB_PASSWORD=

# --- Security Configuration ---
JWT_SECRET="dGhpcy1pcy1hLXN1cGVyLXNlY3JldC1rZXktdGhhdC1tdXN0LWJlLWF0LWxlYXN0LTI1Ni1iaXRzLWxvbmc="
JWT_EXPIRATION_MS="86400000"

# --- App Profile ---
SPRING_PROFILES_ACTIVE="prod"
